{% extends 'layout.html' %}

{% block content %}
<div class='content'>
    <h2 class='header-color'>What I do</h2><br>
    <p class="about-padding tasks par-space">
        I help companies design, implement and test electrical devices and equipment, including but not limited to
        navigation systems, communication systems. I compose technical reports by collecting, analyzing and summarizing
        data. I prioritize effectiveness by crontributing to team effort and focusing on the proper accomplishment of my
        tasks in a timely manner.
    </p><br>

    <h2 class='header-color'>Interests</h2><br>
    <p class="about-padding par-space">
        I also have a strong interest and passion to learn about new technologies, data science and machine learning
        with Python programming language.
    </p><br>

    <h2 class='header-color'>Expertise</h2><br>
    <p class="tasks par-space about-padding">
        Electronic Systems, Electronics Troubleshooting, Electronic Testing Design, Analyzing Information,
        Quality Focus, Attention to Detail, Emphasizing Excellence, Customer Service, Manual Software Testing, Data
        Entry, Python, pandas, numpy, Matlab, Simulink, SQL, Microsoft Excel, VHDL, ModelSIM
    </p><br>

    <h2 class='header-color'>Hobbies</h2><br>
    <p class='about-padding tasks par-space'>
        Hobbies: I like swimming, to go to the gym, to play soccer, ping pong, pool, playing video games, reading.
    </p>
</div>

<div class="col-md-8">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    {% endwith %}

</div>

<div class="content-section contact-align">
    <form action="" method="POST" class="row g-3">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 get-in-touch">Get In Touch</legend>
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {{ form.email(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.content.label(class="form-control-label") }}
                {{ form.content(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </fieldset>
    </form>
</div>
<div class="my-footer">
    <div id="idLinkedInIcon" onclick="window.open('https://www.linkedin.com/in/serignesourang/');"
        title="LinkedIn Profile">in
    </div>
    <a class="github" href="https://github.com/ssourang?tab=repositories">
        <i class="fa fa-github" style="font-size:40px"></i>
    </a><br><br>
    <p style="font-size:10px" class="copyright">© {{ current_year }} Serigne Saliou Mbacke Sourang.</p>
</div>
{% endblock %}