{% extends 'layout.html' %}
{% block content %}

<div class='content-section'>
    <h2 class='header-color'>What I do</h2>
    <p>
        I help companies design, implement and test electrical devices and equipment, including but not limited to
        navigation systems, communication systems. I compose technical reports by collecting, analyzing and summarizing
        data. I prioritize effectiveness by crontributing to team effort and focusing on the proper accomplishment of my
        tasks in a timely manner.
    </p>

    <h2 class='header-color'>Interests</h2>
    <p>
        I also have a strong interest and passion to learn about new technologies, data science and machine learning
        with
        Python programming language.
    </p>

    <h2 class='header-color'>Expertise</h2>
    <p>
        Electronic Systems, Electronics Troubleshooting, Electronic Testing Design, Analyzing Information,
        Quality Focus, Attention to Detail, Emphasizing Excellence, Customer Service, Manual Software Testing, Data
        Entry,
        Python, pandas, numpy, Matlab, Simulink, SQL, Microsoft Excel, VHDL, ModelSIM
    </p>

    <h2 class='header-color'>Hobbies</h2>
    <p>
        Hobbies: I like to go to the gym, to play soccer, ping pong and pool.
    </p>
</div>


{% endblock %}
