{% extends 'layout.html' %}

{% block content %}

<div class="blog-section blog-par-space">
    {{ post["data"] | safe }}

</div>

<div class="my-footer">
    <div id="idLinkedInIcon" onclick="window.open('https://www.linkedin.com/in/serignesourang/');"
        title="LinkedIn Profile">in
    </div>
    <a class="mail-me" href="mailto:ssmsourang@gmail.com">
        <i class="fa fa-envelope mail-me" title="Mail me" style="font-size:40px"></i>
    </a>
    <a class="github" href="https://github.com/ssourang?tab=repositories">
        <i class="fa fa-github" style="font-size:40px"></i>
    </a><br><br>
    <p style="font-size:10px" class="copyright">© {{ current_year }} Serigne Saliou Mbacke Sourang.</p>
</div>
{% endblock %}