{% extends 'layout.html' %}


{% block content %}
<div class='intro'>
    <div class="intro-par"><br>
        <h1>I'm Serigne,</h1>
        <img class="center-align" src="/static/pictures/my_profile.png" alt="elg image intro" width="200"
            height="200"><br>
        <p>an electrical engineering student, python developer and entrepreneur.</p>
    </div>

    <div class=expertise-imgs>
        <img src="/static/pictures/elg_intro.png" alt="elg image intro" width="250" height="200">
        <img src="/static/pictures/python_intro.png" alt="python image intro" width="250" height="200">
        <img src="/static/pictures/entrprn_intro.png" alt="entrprn image intro" width="250" height="200"><br><br>
    </div>
</div>

<div class="work-experience-section">
    
    <h2>Work Experience</h2><br><br>
    <p><strong>Designer of Undergraduate Laboratory Experiments in Physics</strong> | May 03, 2021 - August
        20, 2021 </p>
    <p>University of Ottawa</p>
    <div>
        <ul class="tasks">
            <li>
                Prepare a bill of materials to order electronic components from different manufacturers (Digi-Key Electronics, PCBoard …)
            </li>
            <li>
                Designed and tested experiments for 3rd year students using Arduino and collected data to process using Python’s powerful libraries
            </li>
            <li>
                Soldered electronic components, designed and 3D printed items for various experiments using Tinkercad and Cura.  
            </li>
        </ul>
    </div>
    <hr>
    <p><strong>Python developer for photovoltaic solar energy yield model</strong> | September 21, 2020 - December
        18, 2020 </p>
    <p>SUNLAB, University of Ottawa</p>
    <div>
        <ul class="tasks">
            <li>
                Created functions to import a variety of weather data into a different format using libraries such as
                pathlib, numpy, pandas and others
            </li>
            <li>
                Automate the downloading of weather data by providing desired inputs using an
                API
            </li>
            <li>
                Converted spectral correction code from Matlab to Python
            </li>
        </ul>
    </div>
    <hr>
    <p><strong>Software Quality Assurance - Video, Montreal, QC</strong> | January 6th, 2020 - April 24th,
        2020 </p>
    <p>Matrox</p>
    <div>
        <ul class="tasks">
            <li>
                Checked the reliability, functionality, and performance of the Software
                Development Kit, as well as video drivers
            </li>
            <li>
                Modified and validated test cases on Testrail in Linux Ubuntu and CentOS, though primarily focusing on the Windows operating system
            </li>
            <li>
                Captured functional and other performance issues detected during testing and
                reported them using Jira software
            </li>
        </ul>
    </div>
    <hr>
    <p><strong>IT Technician, Ottawa, ON</strong> | May 6, 2019 - December 20, 2019 </p>
    <p>University of Ottawa</p>
    <div>
        <ul class="tasks">
            <li>
                Provided technical installation services to internal clients according to the users’
                technology needs
            </li>
            <li>
                Offered software installation and upgrade services to ensure that the end-users
                utilize the latest features associated with those services
            </li>
            <li>
                Updated the Faculty of Social Science's database by
                performing data entry
            </li>
        </ul>
    </div>
</div>

<div class="content-section contact-align">
    <form action="" method="POST" class="row g-3">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Get In Touch</legend>
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {{ form.email(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.content.label(class="form-control-label") }}
                {{ form.content(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </fieldset>
    </form>
</div>
<div class="my-footer">
    <div id="idLinkedInIcon" onclick="window.open('https://www.linkedin.com/in/serignesourang/');"
        title="LinkedIn Profile">in
    </div>
    <a class="github" href="https://github.com/ssourang?tab=repositories">
        <i class="fa fa-github" style="font-size:40px"></i>
    </a><br><br>
    <p style="font-size:10px" class="copyright">© {{ current_year }} Serigne Saliou Mbacke Sourang.</p>
</div>
{% endblock %}