{% extends 'layout.html' %}


{% block content %}
<div class='intro'>
    <div class="intro-par"><br>
        <h1>I'm Serigne,</h1>
        <img class="center-align" src="/static/pictures/my_profile.png" alt="elg image intro" width="200"
            height="200"><br>
        <p>an electrical engineering student, python developer and entrepreneur.</p>
    </div>

    <div class=expertise-imgs>
        <img src="/static/pictures/elg_intro.png" alt="elg image intro" width="250" height="200">
        <img src="/static/pictures/python_intro.png" alt="python image intro" width="250" height="200">
        <img src="/static/pictures/entrprn_intro.png" alt="entrprn image intro" width="250" height="200"><br><br>
    </div>
</div>

<div class="content-section contact-align">
    <form action="" method="POST" class="row g-3">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Get In Touch</legend>
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {{ form.email(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.content.label(class="form-control-label") }}
                {{ form.content(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </fieldset>

    </form>
</div>
<div class="my-footer">
    <div id="idLinkedInIcon" onclick="window.open('https://www.linkedin.com/in/serignesourang/');"
        title="LinkedIn Profile">in
    </div>
    <a class="github" href="https://github.com/ssourang?tab=repositories">
        <i class="fa fa-github" style="font-size:40px"></i>
    </a><br><br>
    <p style="font-size:10px" class="copyright">© {{ current_year }} Serigne Saliou Mbacke Sourang.</p>
</div>
{% endblock %}