{% extends 'layout.html' %}


{% block content %}

<div class="content align-items-center">
    <legend><span class="section-bottom-border">Projects</span></legend><br>
    <div class="project-section">
        <ul class="projects">
            {% for repo in repos %}
            <a href="{{ repo['url'] }}">
                <li class="list-projects-format">{{ repo['name'] }}</li>
            </a>
            <div class="gif-space">
                {% if repo['name'] == 'flask-profile' %}
                <a href="https://medium.com/@Suretek_infosoft/top-web-development-frameworks-2019-a32b4c0db379">
                    <img class="gif" src="{{ repo['gif_url'] }}" width=55%>
                </a>
                {% else %}
                <img class="gif" src="{{ repo['gif_url'] }}" width=55%>
                {% endif %}
                <p style="font-size:20px" class=par-space> {{ repo['desc'] }}</p>
            </div>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="content-section contact-align contact-section">
    <form action="" method="POST" class="row g-3">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="section-bottom-border get-in-touch">Get In Touch</legend>
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {{ form.name(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {{ form.email(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.content.label(class="form-control-label") }}
                {{ form.content(class="form-control form-control-lg input-lg") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </fieldset>

    </form>
</div>
<div class="my-footer">
    <div id="idLinkedInIcon" onclick="window.open('https://www.linkedin.com/in/serignesourang/');"
        title="LinkedIn Profile">in
    </div>
    <a class="github" href="https://github.com/ssourang?tab=repositories">
        <i class="fa fa-github" style="font-size:40px"></i>
    </a><br><br>
    <p style="font-size:10px" class="copyright">© {{ current_year }} Serigne Saliou Mbacke Sourang.</p>
</div>
{% endblock %}